<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
    {{ vite_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ vite_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <nav>
        <a href="{{ path("file_manager_default") }}">File Manager</a>
        <a href="{{ path("file_manager_ogoxe") }}">File Manager Ogoxe</a>
        <a href="{{ path("file_manager_modal_default") }}">File Manager Modal</a>
        <a href="{{ path("file_manager_modal_ogoxe") }}">File Manager Modal Ogoxe</a>
        <a href="{{ path("post_edit") }}">Form File Picker</a>
        <a href="{{ path("tinymce") }}">TinyMCE</a>
        {# <a href="{{ path(" ckeditor") }}">CKeditor</a> #}
    </nav>
    {% block body %}{% endblock %}
</body>

</html>